Source/Domain/bin
Source/Domain/obj

Source/Application/bin
Source/Application/obj

Source/Infrastructure/bin
Source/Infrastructure/obj

Source/Website/bin
Source/Website/obj
Source/Website/wwwroot/lib

.vs